name: Pytest

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: |
          cd Lab04_Github_Lab/Lab1
          pytest test/test_pytest.py --junitxml=pytest-report.xml
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: pytest-results
          path: Lab04_Github_Lab/Lab1/pytest-report.xml
